<!DOCTYPE html>
<html>
<head>
	<title>FIXED SIDEBAR</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!-- Side navigation -->
<div class="sidenav">
	<div id="sidenavimg"><img src="img/logo.png"></div>
  	<a href="#">Home</a>
  	<a href="#">About</a>
 	<a href="#">Services</a>
  	<a href="#">Clients</a>
  	<a href="#">Contact</a>
</div>

<!-- Page content -->


	<!--make 4 rows and divide them. inside each div create
		another div-->
	<!--logo and location of submenus-->
	<div id="header">
		<div id="main">ODIN</div><br>
		<div id="sub"><h2>Yes he is awesome</h2>
		</div>
		<div class="clear"></div>
	</div>
		<!--this is used for clearing borderlines-->
		
	<!--main image one big image-->
	<div id="hero"><img src="img/bg2.jpg"></div>
	<!--features-->
	<div id="featured">
		<!-- we place two classes in here the "first" and the "last". pseudo selectors-->
		<div class="wutwedo first">
			<font color="red">WHAT WE DO</font><br><br>
			What we do? We do some really<br>
			Awesome things!! YES REALLY<br>
			REALLY AWESOME THINGS
		</div>
		<div class="wutwedo second">
			<font color="red">OUR WORK</font><br><br>
			Our Work? We work on some really<br>
			Awesome things!! YES REALLY<br>
			REALLY AWESOME THINGS
		</div>
			<div class="third">
			<font color="red">CONTACT US</font><br><br>
			YOU DONT CONTACT US!<br>
			WE CONTACT YOU! YES YOU!<br>
			WATCH YOUR BACK!
		</div>
		<div class="clear"></div>
	</div>
	<!--bottom row-->
		<div id="footer">
		<div id="twitterlogo"><img src="img/logo.png"><img src="img/logo.png"><img src="img/logo.png"></div>
		<div id="address">
			<font color="red">FROM TWITTER</font> </div>   
		<div>Supreme Cheese Pizza #logo #logodesign Valhalla Asgard logo design www.asgard.com
			
		</div>
	</div>
		

	</div>
	<!--copyrighting your data for formality and protection-->
	<div id="copyright">&copy; 2018. All rights reserved.</div>
	<div class="clear"></div>


</body>
</html>