<html>
<head>
    <title>Headline and Gallery</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div id="logo"><img src="img/logo.png">ODIN</div>
        <div id="menu">
            <ul>
                <li><a href="first.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    </div>
    <div id="text">
        <div class="description">
            <h1>Welcome to VALHALLA</h1>
        </div>
        <div class="description2">
            <h3> The Calle Uno Food Hub is Baguio’s first food truck park, and the first Volkswagen-based food truck park in the Philippines, possibly Asia. It is located in the quadrangle of Calle Uno Coworking Space, at the corner of Naguilian Road and (Escoda) First Road.See seven Volkswagen Beetles and Kombis repurposed into food service machines, each one unique and perfectly Instagrammable, serving different soulful flavors from around the world. </h3>
        </div>
    </div>    
    <div id="featured">
        <div class="featured-image first"><a href="first.html"> <img src="img/bg2.jpg"></div>
        <div class="featured-image second"><a href="second.html"> <img src="img/bg2.jpg"></div>
        <div class="featured-image third"><a href="third.html"> <img src="img/bg2.jpg"></div>
        <div class="clear"></div>
    </div>
    <div id="featured">
        <div class="featured-image first"><a href="fourth.html">  <img src="img/bg1.jpg"></div>
        <div class="featured-image second"><a href="fifth.html">  <img src="img/bg1.jpg"></div>
        <div class="featured-image third"><a href="sixth.html"> <img src="img/bg1.jpg"></div>
        <div class="clear"></div>
    </div>
    <div id="featured">
        <div class="featured-image first"><a href="seventh.html"> <img src="img/bg2.jpg"></div>
        <div class="featured-image second"><a href="eigth.html"> <img src="img/bg2.jpg"></div>
        <div class="featured-image third"><a href="ninth.html"> <img src="img/bg2.jpg"></div>
        <div class="clear"></div>
    </div>
</html>