<!DOCTYPE html>
<html>
<head>
	<title>FIVE BOXES</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!--make 4 rows and divide them. inside each div create
		another div-->
	<!--logo and location of submenus-->
	<div id="header">
		<div id="logo"><img src="img/logo.png">ODIN</div>
		<div id="menu">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
		<!--this is used for clearing borderlines-->
		
	<!--main image one big image-->
	<div id="hero"><img src="img/bg2.jpg"></div>
	<!--features-->
	<div id="featured">
		<!-- we place two classes in here the "first" and the "last". pseudo selectors-->
		<div class="featured-image first"><img src="img/valhall.png"></div>
		<div class="featured-image second"><img src="img/bg1.jpg"></div>
		<div class="featured-image third"><img src="img/valhall.png"></div>
		<div class="featured-image last"><img src="img/bg1.jpg"></div>
		<div class="clear"></div>
	</div>
	<!--bottom row-->
	<div id="footer">
		<div class="clear"></div>
		<div id="address">Valhalla Asgard</div>
		<!--copyrighting your data for formality and protection-->
		<div id="copyright">&copy; 2018. All rights reserved.</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</body>
</html>