<!DOCTYPE html>
<html>
<head>
	<title>Featured Graphic</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="image">
	<img src="img/logo.png">
</div>

<div id="header"> <img src="img/logo2.png"> </div>
</div>


<div id="subhead">
	<a href="#" style="text-decoration:none;color: #000000;padding: 0 10px 0 0;">Home  </a>
  	<a href="#" style="text-decoration:none;color: #000000;padding: 10px;">The Ideas  </a>
 	<a href="#" style="text-decoration:none;color: #000000;padding: 10px;">The Design  </a>
  	<a href="#" style="text-decoration:none;color: #000000;padding: 10px;">The Dashboard  </a>
  	<a href="#" style="text-decoration:none;color: #000000;padding: 10px;">Support  </a>
</div>


<div id="lorem" >
	<h1>AWESOME WEBSITES</h1>
	<p>Clouds are free. They just float around the sky all day and have fun. I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush. Don't be afraid to make these big decisions. Once you start, they sort of just make themselves. Nice little clouds playing around in the sky. It's amazing what you can do with a little love in your heart.
	</p>
	<h3>We do believe we do have the solution.</h3>
</div>

</body>
</html>